<div id="event-preview" class="col-8">
  <div class="card">
    <%= render "events/preview", event: @event %>
    <div>
      <%= @event.title %>
      <% @event.guests.each do |guest| %>
      <%= guest.user.email %>
      <% end %>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <%= render 'events/modal_guest', name: "Guest", guest: @guest, event: @event %>
    </div>
  </div>
</div>
<div class="d-grid gap-2 col-4 mx-auto">
    <div class="d-flex justify-content-between">
      <button class="buttonsuper">
        <%= link_to "back", new_user_event_path(@event) %>
      </button>
      <button class="buttonsuper">
        <%= link_to "next", new_event_activity_path(@event) %>
      </button>
  </div>
</div>
