<div id="event-preview" class="col-8">
  <div class="card">
    <%= render "events/preview", event: @event %>
       <h4>Guests:</h4>
        <% @event.guests.each do |guest| %>
      <%= cl_image_tag guest.user.avatar.key, height: 50, width: 50, crop: :fill %>
      <% end %>
    <div class="d-grid gap-2 col-4 mx-auto"></div>
     <%= render 'events/modal_guest', name: "Guest", guest: @guest, event: @event %>
  </div>
</div>
<div class="d-grid gap-2 col-4 mx-auto">
    <div class="d-flex justify-content-between">
      <button class="buttonsuper">
        <%= link_to "back", event_path(@event) %>
      </button>
      <button class="buttonsuper">
        <%= link_to "next", new_event_activity_path(@event) %>
      </button>
  </div>
</div>
