<div class="ag-courses_item">
  <a href=<%= event_path(element) %> class="ag-courses-item_link">
    <div class="ag-courses-item_bg"></div>
    <div class="ag-courses-item_title">
      <% unless element.title.nil? == false %>
        <%= element.description %>
      <% else %>
        <%= element.title %>
      <% end %>
    </div>
    <div class="ag-courses-item_rest">
    <%=element.description %><br>
    <%=element.address %><br>
    <%=element.start%>

    </div>
  </a>
</div>
