<div class="ag-format-container">
    <h2 class="ag-courses_box" data-event-target="title"><%= @event.title || '[Add a title]'%></h2>
    <p> Description of the event : </p>
    <div class="ag-courses_item" data-event-target="description"> <%= @event.description || '[Add a description]' %>
    </div>
    <p> <i class="fa fa-calendar" aria-hidden="true"></i> </p>
    <div class="ag-courses_item" data-event-target="start"> <%= @event.start %>
    </div>
    <p> to </p>
    <div  class="ag-courses_item"  data-event-target="end">
     <%= @event.end %>
    </div>
    <div  class="ag-courses_item"  data-event-target="photo">
     <%= @event.photo %>
    </div>
</div>
