    <div class="ag-format-container">


     <h2 class="ag-courses_box" data-event-target="title"><%= @event.title || '[Add a title]'%></h2>
        <div class="ag-courses_item" data-event-target="photo"> <%= @event.photo %>
        </div>
          <% if event.photo.attached? %>
           <%= cl_image_tag @event.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://avatars.githubusercontent.com/u/123788157?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
      </div>

       <p> Description of the event : </p>
        <div class="ag-courses_item" data-event-target="description"> <%= @event.description || '[Add a description]' %>
        </div>




        <div class="d-flex flex-row">
          <div class="p-2">
           <p> <i class="fa fa-calendar" aria-hidden="true"></i> </p>
          </div>
          <div class="p-2">
            <div class="ag-courses_item" data-event-target="start"> <%= @event.start %>
            </div>
          </div>
          <div class="p-2">
            <p> to </p>
          </div>
          <div class="p-2">
            <div  class="ag-courses_item"  data-event-target="end">
            <%= @event.end %>
          </div>
        </div>
    </div>
</div>
