<div class="container">
  <% if event.photo.attached? %>
    <%= cl_image_tag event.photo.key, class: "w-100 rounded-4 event-preview-card__photo", data: { event_target: 'photo' } %>
  <% else %>
    <%= image_tag "https://usagif.com/wp-content/uploads/gif/confetti-18.gif", class: "w-100 rounded-4 event-preview-card__photo", data: { event_target: 'photo' } %>
  <% end %>
</div>

  <h1 class="ag-courses_box" data-event-target="title"><%= event.title || '[Add a title]'%></h1>

<h3> Description of the event : </h3>

<div class="ag-courses_item" data-event-target="description"> <%= event.description || '[Add a description]' %>
</div>

<h3> Address : </h3>

<div class="ag-courses_item" data-event-target="address"> <%= event.address || '[Add an address]' %>
</div>

<div class="d-flex flex-row">
  <div class="p-2">
    <p> <i class="fa fa-calendar" aria-hidden="true"></i> </p>
  </div>
  <div class="p-2">
    <div class="ag-courses_item" data-event-target="start"> <% unless event.start.nil? %>
    <%= event.start.strftime("%A, %b %d") %>
    <% end %>
    </div>
  </div>
  <div class="p-2">
    <p> to </p>
  </div>
  <div class="p-2">
    <div  class="ag-courses_item"  data-event-target="end"> <%unless event.end.nil? %>
    <%= event.end.strftime("%A, %b %d") %>
   <% end %>
    </div>
  </div>
</div>
