
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
      <h3>Schedule your event</h3>
        <%= simple_form_for @event, data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :start, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :end, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
          <%= f.submit "Get the party started" %>
          <%# <%= link_to 'submit', "", :onclick => "$('').submit()" %>
        <% end %>
      </div>
  </div>
