<div class="container margin-top-negative">
  <%= render 'shared/card', element: @event %>
  <div class="row">
    <div class="col-6">
      <div class="event-show-card">
        <h1><%= @event.title %></h1>
        <p class="event-show-title"><%= @event.address %></p>
      </div>
      <div class="event-show-card">
        <h3>Event details</h3>
        <p> From <%= @event.start %> to <%= @event.end %> </p>
        <p><%= @event.description %></p>
        <p class="my-3"><%= link_to "Invite Friends", "/guests/new", class: 'buttonsuper'%></p>
        <div style="width: 100%; height: 350px; margin-top:3rem;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="event-show-card">
        <h3>Event Activities</h3>
        <% @event.activities.order(end: :asc).each.with_index do |activity, index| %>
          <%= link_to event_activity_path(@event, activity), class:  "activity-link" do  %>

            <p><%= index + 1 %> - <%= activity.description %></p>
          <% end %>
        <% end %>
        <p class="my-3"><%= link_to "Add an activity", new_event_activity_path(@event), class: 'buttonsuper' %></p>
      </div>
    </div>
  </div>
</div>
