<div class="container margin-top-negative">
  <div class="container">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, class: "w-50 rounded-4 event-preview-card__photo", data: { event_target: 'photo' } %>
    <% else %>
      <%= image_tag "https://usagif.com/wp-content/uploads/gif/confetti-18.gif", class: "w-100 rounded-4 event-preview-card__photo", data: { event_target: 'photo' } %>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="event-show-card">
        <h1><%= @event.title %></h1>
        <p class="event-show-title"><%= @event.address %></p>
          <div style="width: 90%; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
  <div class="col-6 mt-4">
    <div class="event-show-card">
      <h3>Event details</h3>
      <p> From <%= @event.start %> to <%= @event.end %> </p>
      <p><%= @event.description %></p>
      <p class="my-3"><%= link_to "Invite Friends", new_event_guest_path(@event), class: 'buttonsuper'%></p>
    </div>
  <div class="event-show-card mt-5">
    <h3>Event Activities</h3>
    <% @event.activities.order(end: :asc).each.with_index do |activity, index| %>
    <p class="event-hover-activity"><%= link_to event_activity_path(@event, activity), class:  "activity-link" do  %>
    <p><%= index + 1 %> - <%= activity.description %></p>
      <% end %>
      <% end %>
    <p class="my-3"><%= link_to "Add an activity", new_event_activity_path(@event), class: 'buttonsuper' %></p>
  </div>
  </div>
  </div>
</div>
