<div class="container margin-top-negative">
  <%= render 'shared/card', element: @event %>
  <div class="row">
    <div class="col-6">
      <div class="event-show-card">
        <h1><%= @event.title %></h1>
        <p class="event-show-title"><%= @event.address %></p>
      </div>
      <div class="event-show-card">
        <h3>Event details</h3>
        <p> From <%= @event.start %> to <%= @event.end %> </p>
        <p><%= @event.description %></p>
        <p class="my-3"><%= link_to "Invite Friends", "/guests/new", class: 'buttonsuper'%></p>
      </div>
    </div>
    <div class="col-6">
      <div class="event-show-card">
        <h3>Event Activities</h3>
        <% @event.activities.order(end: :asc).each.with_index do |activity, index| %>
          <p><%= index + 1 %> - <%= activity.description %></p>
        <% end %>
        <p class="my-3"><%= link_to "Add an activity", new_event_activity_path(@event), class: 'buttonsuper' %></p>
      </div>
    </div>
  </div>
</div>
