<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="past_events-tab" data-bs-toggle="tab" data-bs-target="#past_events" type="button" role="tab" aria-controls="past_events" aria-selected="true">Past 3vents</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="ongoing_events-tab" data-bs-toggle="tab" data-bs-target="#ongoing_events" type="button" role="tab" aria-controls="ongoing_events" aria-selected="false">Ongoing 3v3nts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="forthcoming_events-tab" data-bs-toggle="tab" data-bs-target="#forthcoming_events" type="button" role="tab" aria-controls="forthcoming_events" aria-selected="false">Forthcoming 3v3nts</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="past_events" role="tabpanel" aria-labelledby="past_events-tab">
    <% @events.where("start < ?", Date.today).each do |event| %>
      <br>
        <td><%= event.title %></td>
        <td><%= event.description %></td> From
        <td><%= event.start%></td> To
        <td><%= event.end %></td>
      <br/>
    <% end %>
  </div>
  <div class="tab-pane fade show active" id="ongoing_events" role="tabpanel" aria-labelledby="ongoing_events-tab">
    <% @events.where("start = ?", Date.today).each do |event| %>
      <br>
        <td><%= event.title %></td>
        <td><%= event.description %></td> From
        <td><%= event.start%></td> To
        <td><%= event.end %></td>
      <br/>
    <% end %>
  </div>

  <div class="tab-pane fade" id="forthcoming_events" role="tabpanel" aria-labelledby="forthcoming_events">
    <% @events.where("start > ?", Date.today).each do |event| %>
      <br>
        <td><%= event.title %></td>
        <td><%= event.description %></td> From
        <td><%= event.start%></td> To
        <td><%= event.end %></td>
      <br/>
    <% end %>
  </div>
</div>
