<div class="ag-format-container">
    <h2 class="ag-courses_box" data-event-target="title"><%= @event.title || '[Add a title]'%></h2>
    <%#<p> Description of the event : </p><%>
    <div class="ag-courses_item" data-event-target="description"> Description of the event : <%= @event.description || '[Add a description]' %>
    </div>
    <p> The event will start on : </p>
    <div class="ag-courses_item" data-event-target="start"> <%= @event.start || '[Add a starting date]' %>
    </div>
    <p> The event will end on : </p>
    <div  class="ag-courses_item"  data-event-target="end">
     <%= @event.end || '[Add an ending date]' %>
    </div>
    <div  class="ag-courses_item"  data-event-target="photo">
    <% if @event.photo.attached?  %>
     <%= cl_image_tag @event.photo.key %>
     <% end %>
    </div>
</div>
