
<div class="container">
<h3>Let's propose an activity for "<%=@event.title%>" </h3><br>
  <div class="row" data-controller="event">
    <div class="col-4">
      <%= render "form", activity:  @activity, event: @event %>
    </div>

    <div id="event-preview" class="col-6">
      <div class="card">
        <%= render "preview", event: @event, activity: @activity %>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <%= link_to "back", new_user_event_path(@event), class: 'buttonsuper' %>
      <%= link_to "FINISH", event_activities_path(@event), class: 'buttonsuper' %>
    </div>
  </div>
</div>
