<div class="container margin-top-negative">
  <div class="row">
    <div class="col-6">
      <div class="event-show-card">
        <h3>Event details</h3>
        <p><%= @activity.description %></p>
        <p> From <%= @activity.start %> to <%= @activity.end %> </p>

      </div>
    </div>

    <div class="col-6">
      <h3>propositions</h3>
      <ul>
        <% @propositions.each do |proposition|%>
          <li>

            <%= proposition.description %>
            <%= proposition.upvotes.count %>
              <%= link_to "upvote", proposition_upvotes_path(proposition), data: { turbo_method: :post } %>

          </li>

        <% end %>
      </ul>
    </div>

    <%= simple_form_for [@activity, @proposition] do |f| %>
      <%= f.input :description,placeholder: "Description"%>
      <%= f.submit "Submit", class:"buttonsuper" %>
    <% end %>

  </div>
 </div>
