<div class="container margin-top-negative">
  <div class="row">
    <div class="col-6">
      <div class="event-show-card">
        <h3>Event details</h3>
        <p><%= @activity.description %></p>
        <p> From <%= @activity.start %> to <%= @activity.end %> </p>

      </div>
    </div>

    <div class="col-6">
      <h3>propositions</h3>
      <ul>
        <% @propositions.each do |proposition|%>
          <li>

            <%= proposition.description %>
            <%= proposition.upvotes.count %>
               <p class="fa-solid fa-thumbs-up"><%= link_to " +", proposition_upvotes_path(proposition), data: { turbo_method: :post } %></p>
          </li>

        <% end %>
      </ul>
    </div>

    <%= simple_form_for [@activity, @proposition] do |f| %>
      <%= f.input :description,placeholder: "Description"%>
      <%= f.submit "Submit", class:"buttonsuper" %>
    <% end %>

    <div class="avatar" >
      <h2>Participants</h2>

      <% GuestActivity.where(activity: @activity).each do |guestactivity| %>
        <%= cl_image_tag guestactivity.guest.user.avatar.key, height: 30, width: 30, crop: :fill %>
      <% end %>

      <% if @guest_activity.persisted? %>
        <%= simple_form_for [@activity, @guest_activity], method: :delete do |f| %>
          <%= f.submit "Quit Activity"%>
        <% end %>
      <% else %>
        <%= simple_form_for [@activity, @guest_activity] do |f| %>
          <%= f.submit "Join Activity"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
